			body{font-family: "Sans-serif Helvetica MingLiU";color:#595D60;}
			.playmusic{position: absolute;right: 0.5em;top: 0.4em;z-index: 3;width: 2em;height: 2em;background: url(../images/music.png)no-repeat center;background-size:contain;
			-webkit-animation: rotating 1.5s linear infinite;
		    -moz-animation: rotating 1.5s linear infinite;
		    -o-animation: rotating 1.5s linear infinite;
		    animation: rotating 1.5s linear infinite;
			}
			.btn{opacity:0;width: 100%;height: 100%;}
			@keyframes rotating{
				0% {
			    transform: rotate(0);
			}
			100% {
			    transform: rotate(360deg);
			}
			}
			@-webkit-keyframes rotating{
				0% {
			    transform: rotate(0);
			}
			100% {
			    transform: rotate(360deg);
			}
			}
			@-moz-keyframes rotating{
				0% {
			    transform: rotate(0);
			}
			100% {
			    transform: rotate(360deg);
			}
			}
			@-ms-keyframes rotating{
				0% {
			    transform: rotate(0);
			}
			100% {
			    transform: rotate(360deg);
			}
			}
			@-o-keyframes rotating{
				0% {
			    transform: rotate(0);
			}
			100% {
			    transform: rotate(360deg);
			}
			}
				#close {
				position: absolute;
				width: 160px;
				left: 50%;
				margin-left: -80px;
				bottom: 15%;
				padding: 10px;
				color: #fff;
				border-color: #fff;
			}
			.item-logo {
				width: 100%;
				height: 100%;
				position: relative;
			}
			.item-logo a {
				width: 200px;
				height: 200px;
				display: block;
				border: 1px solid #FFFFFF;
				border-color: rgba(255, 255, 255, 0.5);
				text-align: center;
				line-height: 200px;
				border-radius: 50%;
				font-size: 40px;
				color: #fff;
				position: absolute;
				top: 15%;
				left: 50%;
				margin-left: -100px;
			}
			.animate {
				position: absolute;
				left: 0;
				bottom: 15%;
				width: 100%;
				color: #fff;
				display: -moz-box;
			}
			.animate h2 {
				text-align: center;
				margin-bottom: 20px;
			}
			.animate li {
				width: 50%;
				height: 30px;
				line-height: 30px;
				list-style: none;
				font-size: 16px;
				text-align: right;
			}
			.animate li:nth-child(3) {
				text-align: left;
				float: right;
			}
			.animated {
				-webkit-animation-duration: 1s;
				-webkit-animation-play-state: paused;
				-webkit-animation-fill-mode: both;
			}
			.guide-show .bounceInDown {
				-webkit-animation-name: bounceInDown;
				-webkit-animation-play-state: running;
				-webkit-animation-delay: 1s;
				display: block;
			}
			.guide-show .bounceInLeft {
				-webkit-animation-name: bounceInLeft;
				display: block;
				-webkit-animation-play-state: running;
			}
			.guide-show .bounceInRight {
				-webkit-animation-name: bounceInRight;
				display: block;
				-webkit-animation-play-state: running;
				-webkit-animation-delay: 0.5s;
			}
			@-webkit-keyframes bounceInDown {
				0%, 60%, 75%, 90%, 100% {
					-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
					animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
				}
				0% {
					opacity: 0;
					-webkit-transform: translate3d(0, -3000px, 0);
					transform: translate3d(0, -3000px, 0);
				}
				60% {
					opacity: 1;
					-webkit-transform: translate3d(0, 25px, 0);
					transform: translate3d(0, 25px, 0);
				}
				75% {
					-webkit-transform: translate3d(0, -5px, 0);
					transform: translate3d(0, -5px, 0);
				}
				90% {
					-webkit-transform: translate3d(0, 3px, 0);
					transform: translate3d(0, 3px, 0);
				}
				100% {
					-webkit-transform: none;
					transform: none;
				}
			}
			@-webkit-keyframes bounceInLeft {
				0%, 60%, 75%, 90%, 100% {
					-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
					animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
				}
				0% {
					opacity: 0;
					-webkit-transform: translate3d(-3000px, 0, 0);
					transform: translate3d(-3000px, 0, 0);
				}
				60% {
					opacity: 1;
					-webkit-transform: translate3d(25px, 0, 0);
					transform: translate3d(25px, 0, 0);
				}
				75% {
					-webkit-transform: translate3d(-10px, 0, 0);
					transform: translate3d(-10px, 0, 0);
				}
				90% {
					-webkit-transform: translate3d(5px, 0, 0);
					transform: translate3d(5px, 0, 0);
				}
				100% {
					-webkit-transform: none;
					transform: none;
				}
			}
			@-webkit-keyframes bounceInRight {
				0%, 60%, 75%, 90%, 100% {
					-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
					animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
				}
				0% {
					opacity: 0;
					-webkit-transform: translate3d(3000px, 0, 0);
					transform: translate3d(3000px, 0, 0);
				}
				60% {
					opacity: 1;
					-webkit-transform: translate3d(-25px, 0, 0);
					transform: translate3d(-25px, 0, 0);
				}
				75% {
					-webkit-transform: translate3d(10px, 0, 0);
					transform: translate3d(10px, 0, 0);
				}
				90% {
					-webkit-transform: translate3d(-5px, 0, 0);
					transform: translate3d(-5px, 0, 0);
				}
				100% {
					-webkit-transform: none;
					transform: none;
				}
			}
			.oa-contact-cell.mui-table .mui-table-cell {
				padding: 11px 0;
				vertical-align: middle;
			}			
			.oa-contact-cell {
				position: relative;
				margin: -11px 0;
			}
	
			.oa-contact-avatar {
				width: 75px;
			}
			.oa-contact-avatar img {
				border-radius: 50%;
			}
			.oa-contact-content {
				width: 100%;
			}
			.oa-contact-name {
				margin-right: 20px;
			}
			.oa-contact-name, oa-contact-position {
				float: left;
			}
			h1{text-align: center;}
			.tl{width: 49px;height: 49px;}
			.mui-card{
				margin: 0;
				border-radius: 0;
			}			
			.mui-tab-item .iconfont{
				top: 3px;
    			width: 24px;
    			height: 24px;
    			padding-top: 0;
    			padding-bottom: 0;
    			font-size: 24px;
    			position: relative;
    			z-index: 20;
    			font-weight: 400;
    			font-style: normal;
    			line-height: 1;
    			display: inline-block;
    			text-decoration: none;
    			-webkit-font-smoothing: antialiased;
			}
			.mui-tab-label{
				    font-size: 11px;
    				display: block;
    				overflow: hidden;
    				text-overflow: ellipsis;
			}
			/*#tabbar h4{color: #007AFF;}*/
			#tabbar .mui-table-view .mui-table-view-cell .iconfont,#tabbar-with-contact .iconfont,#tools{
				width: 3em;
				height: 3em;
				font-size: 2.4rem;
			}
			
			.icon-wode{color: #EA6262;}
			.icon-xueli{color:#F09D67;}
			.icon-shouji{color: #F8DE63;}
			.icon-email{color: #E6444F;}
			.icon-msnui-website{color: #CE191E;}
			.icon-github{color: #EA557F;}
			.icon-xingquaihao{color: #2DE5EF;}
			.icon-guifan{color: #019AA0;}
			.icon-layout{color: #AFD693;}
			.icon-chajian{color: #FCE680;}
			.icon-ku{color: #F2AE25;}
			.icon-kuangjia{color: #CF181D;}
			.icon-chengxukaifa{color: #EE6F80;}
			.icon-javascript{color: #F19C41;}
			.bg1 .mypic{background: url(../images/mypic.jpg);background-size:contain;color: #CB1426;}
			.bg1{background: url(../images/bg1.jpg)0em 2.5rem;background-size:contain;}
			.animate li,.animate h2{color: #EF8DBC;}
			#close{color: #EF8DBC;}
			.bg1 .animate{bottom: 30%;}
