
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1488453300651'); /* IE9*/
  src: url('iconfont.eot?t=1488453300651#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1488453300651') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1488453300651') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1488453300651#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chajian:before { content: "\f00dd"; }

.icon-github:before { content: "\f01ca"; }

.icon-shouji:before { content: "\e647"; }

.icon-wo:before { content: "\e607"; }

.icon-javascript:before { content: "\e612"; }

.icon-bootstrapoutline:before { content: "\e600"; }

.icon-ex:before { content: "\e601"; }

.icon-nvshengao:before { content: "\e602"; }

.icon-wode:before { content: "\e605"; }

.icon-xiangmu:before { content: "\e611"; }

.icon-html-copy:before { content: "\e603"; }

.icon-msnui-website:before { content: "\e77f"; }

.icon-jiatingzhuzhi:before { content: "\e6a2"; }

.icon-xueli:before { content: "\e60d"; }

.icon-email:before { content: "\e61e"; }

.icon-xingquaihao:before { content: "\e61d"; }

.icon-ku:before { content: "\e608"; }

.icon-chengxukaifa:before { content: "\e60e"; }

.icon-kuangjia:before { content: "\e7c9"; }

.icon-jineng:before { content: "\e649"; }

.icon-group15:before { content: "\e643"; }

.icon-guifan:before { content: "\e64b"; }

.icon-angular-logo:before { content: "\e60f"; }

.icon-layout:before { content: "\e641"; }

.icon-javascript-copy:before { content: "\e502"; }

